body {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}

.main {
    text-align: center;
}

.exit {
    background-color: #3bff86;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
}
.exit:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.238), 0 17px 50px 0 rgba(0, 0, 0, 0.3);
}
.exit:active {
    transition: none;
    background-color: #30d670cf;
}


.nalogi, .perevod, .uslugi {
    background-color: #4d3bff;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px 15px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
}
.nalogi:hover, .perevod:hover, .uslugi:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.238), 0 17px 50px 0 rgba(0, 0, 0, 0.3);
}
.nalogi:active, .perevod:active, .uslugi:active {
    transition: none;
    background-color: #4f3bffd1;
}